body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 62, 63);
    font-family: sans-serif;
}
form{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgb(22, 19, 19);
    text-align: center;
}
form input[type = "email"], form input[type = "password"]{
     border:0;
     background-color: transparent;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid blueviolet;
     padding: 14px 10px;
     width: 200px;
     outline: none;
     color: white;
     border-radius: 24px; 
    transition: .25s;    
}
form h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    
}
form input[type = "email"]:focus, form input[type = "password"]:focus{
    width:250px;
    border-color: yellow;
}
form input[type="submit"]{
    color: rgb(250, 250, 250);
    border:0;
    background-color: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(179, 189, 50);
    padding: 14px 40px;
    border-radius: 24px; 
    transition: .25s;
    background-color: transparent;
    outline: none;    
    cursor: pointer;
}
form input[type="submit"]:hover{
   background-color:royalblue ;
}
